<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="s3mirror.AwsSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
 
  <appSettings>
    
  </appSettings>
  
  <runtime>
    <gcServer enabled="true"/>
  </runtime>

  <log4net>
    <appender name="console"
        type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="INFO" />
        <foreColor value="White" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Green" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow, HighIntensity" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="White, HighIntensity" />
        <backColor value="Red" />
      </mapping>
      <layout
                  type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
    <appender name="file" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Logs\s3mirror-%date{dd-MM-yyyy}.log" />
      <appendToFile value="false" />
      <maxSizeRollBackups value="-1" />
      <!--infinite-->
      <staticLogFileName value="true" />
      <rollingStyle value="Once" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %date [%thread] %c{1} - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="console" />
      <appender-ref ref="file" />
    </root>
  </log4net>
  <userSettings>
    <s3mirror.AwsSettings>
      <setting name="AccessKeyId" serializeAs="String">
        <value />
      </setting>
      <setting name="SecretAccessKey" serializeAs="String">
        <value />
      </setting>
      <setting name="Region" serializeAs="String">
        <value />
      </setting>
      <setting name="Src" serializeAs="String">
        <value />
      </setting>
      <setting name="Dst" serializeAs="String">
        <value />
      </setting>
    </s3mirror.AwsSettings>
  </userSettings>
</configuration>